<DOCTYPE! html>
<head>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" media="all" href="css/other-profile.css">

    <title>profile page</title>
</head>

<body>
  <nav class="navbar">
    <div>
      <p class="title">Literari</p>
    </div>
    <ul>
      <li>
        <a href="profilePage.html"><button class="btn1"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
          <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
        </svg><br>home</button></a>
      </li>
      <li>
        <a href="login.html"><button class="btn1"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
          <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
        </svg><br>logout</button></a>
      </li>
      <li>
        <div class="form">
          <input class="search" type="search" placeholder="Search">
          <a href="searchPage.html"><button class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg></button></a>
        </div>
      </li>
    </ul>
  </nav>
  <div class="profile">
    <div class="profile-picture"><img src="pictures/dp4.png" class="display-photo"></div>
    <div class="information">
      <br>
      <div class="username-signup">
        <div class="username">blank-ji</div> 
        <div class="Sign-up">Sign-up Date: July 1, 2020</div>
      </div>
      <br>
      <div class="bio">Bio:<p>“I get crazy in a bookstore. It makes my heart beat hard because I want to buy everything.” ― Reese Witherspoon</p></div>
      <br>
      <div class="genre">Genre that I love:
        <ul>
          <li><a href="historical.html">Historical</a></li>
          <li><a href="thriller.html">Thriller</a></li>
          <li><a href="romance.html">Romance</a></li>
          <li><a href="classics.html">Classics</a></li>
          <li><a href="suspense.html">Suspense</a></li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Finished Reading
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="card-layout">
            <!-- A card with given width -->
            <div class="card-layout__item"><a href="bookinfo1(queens-gambit).html"><img src="pictures/books/queens-gambit.png" class="img" type="button"></a></div>
            <div class="card-layout__item"><a href="bookinfo6(da-vinci-code).html"><img src="pictures/books/da-vinci-code.png" class="img" type="button"></a></div>
            <div class="card-layout__item"><a href="bookinfo8(one-of-us-is-lying).html"><img src="pictures/books/one-of-us-is-lying.png" class="img" type="button"></a></div>
            <div class="card-layout__item"><a href="bookinfo2(jane-eyre).html"><img src="pictures/books/jane-eyre.png" class="img" type="button"></a></div>
            <div class="card-layout__item"><a href="bookinfo3(the-little-prince).html"><img src="pictures/books/little-prince.png" class="img" type="button"></a></div>
            <div class="card-layout__item"><a href="bookinfo9(ange&demons).html"><img src="pictures/books/angels-and-demons.png" class="img" type="button"></a></div>
            <div class="card-layout__item"><a href="bookinfo4(pride-and-predudice).html"><img src="pictures/books/pride-and-prejudice.png" class="img" type="button"></a></div>
            <div class="card-layout__item"><a href="bookinfo7(little-women).html"><img src="pictures/books/little-women.png" class="img" type="button"></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Currently Reading
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <div class="card-layout">
                <div class="card-layout__item"><a href="bookinfo5(to-kill-a-mockingbird).html"><img src="pictures/books/to-kill-a-mockingbird.png" class="img" type="button"></a></div>
            </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Plan on Reading
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="card-layout">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="foot"></div>
</body>