<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" media="all" href="../css/signUp.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- CSS only -->
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous"> -->
    
        <title>Sign Up Page</title>
    </head>
    <body>

        <div class="main_div">
            <div class="title">Sign Up Form</div>
            <form action="index.html">
                Email
                <div class="input_box">
                    <input type="text" placeholder="Enter email" required>
                </div>
                Username
                <div class="input_box">
                    <input type="text" placeholder="Enter username" required>
                </div>
                Password
                <div class="input_box">
                    <input type="password" placeholder="Must be atleast 8 characters" required>
                </div>
                
                <div class="input_box button">
                    <input type="submit" value="Create Account">
                </div>
                <a class="back" href="index.html">Back to Home</a>
        </div>
    </body>
</html>